  <footer class="site-footer">
    <div class="layout-container">

      <div class="layout layout--flush">

        <div class="layout-item layout-item--1-3">
          <h2 class="footer-title">Say hello&#8212;</h2>
        </div>

        <div class="layout-item layout-item--2-3">
          <ul class="nav nav--contact">
            <li>
              <a href="mailto:jeff@stormwarning.ca">
                <svg class="icon icon--email"><use xlink:href="/assets/images/sprite.symbol.svg#icon-email"></use></svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/stormwarning">
                <svg class="icon icon--twitter"><use xlink:href="/assets/images/sprite.symbol.svg#icon-twitter"></use></svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/stormwarning">
                <svg class="icon icon--github"><use xlink:href="/assets/images/sprite.symbol.svg#icon-github"></use></svg>
              </a>
            </li>
            <li>
              <a href="https://www.behance.net/stormwarning">
                <svg class="icon icon--behance"><use xlink:href="/assets/images/sprite.symbol.svg#icon-behance"></use></svg>
              </a>
            </li>
            <li>
              <a href="https://ca.linkedin.com/in/stormwarning/">
                <svg class="icon icon--linkedin"><use xlink:href="/assets/images/sprite.symbol.svg#icon-linkedin"></use></svg>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </footer>




  <script src="/assets/scripts/main.js"></script>

  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-58836125-1','auto');ga('send','pageview');
  </script>
</body>
</html>
