/*------------------------------------*\
    #COMPONENT.NAV
\*------------------------------------*/
/**
 * "Menuised" list element.
 */
.nav {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;

  > li {
    display: inline-block;
    font-size: $base-font-size;

    > a {
      display: inline-block;
      padding: ($layout-gutter / 4) ($layout-gutter / 2);
    }
  }
}
