/*------------------------------------*\
    #PROJECT
\*------------------------------------*/
/**
 * Project "card" blocks.
 *
 * A proportional-height block with full-bleed background image, color overlay,
 * title and text content, with a fancy hover effect.
 */
.project {
  position: relative;
  display: block;
  margin-bottom: $base-line-height;
  overflow: hidden;
  color: $white;

  // maintain 3:4 aspect ratio
  &:before {
    display: block;
    padding-bottom: 133.3333%;
    content: "";

    @include media-query(landscape) {
      padding-bottom: 56.25%;
    }
  }

  &:hover,
  &:focus {

  }

  @include media-query(medium) {
    margin-bottom: ($base-line-height * 2);
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.project-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}


.project-overlay {
  background-color: $black;
  opacity: 0.5;
}


.project-content {

  > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $layout-gutter / 2;

    @include media-query(medium) {
      padding: $layout-gutter;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.project-title {
  margin-bottom: $base-line-height / 4;
}
