/*------------------------------------*\
    #COMPONENT.PROJECT-NAV
\*------------------------------------*/
/**
 * Navigation blocks between single Work pages.
 */
.project-nav {
  position: relative;
  padding: ($base-line-height * 2) $layout-gutter;

  @include media-query(landscape) {
    width: 50%;
    margin-left: 50%;
  }

  a {
    // color: $blue-dark;
  }

  &.is-visible {

    .project-nav-overlay {
      opacity: 0.75;
    }
  }
}




.project-nav-image,
.project-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}




.project-nav-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}




.project-nav-overlay {
  background-color: $black;
  opacity: 1;
  transition: opacity 0.25s $timing;
}




.project-nav-content {
  position: relative;
  z-index: 1;

  .layout-item--2-3 {

    @include media-query(landscape) {
      padding-left: $layout-gutter;
    }
  }
}


.project-nav-title {
  @include typ-font-size($h4-size, 1);

  color: $grey;
}


.project-next {
  @include typ-font-size($h2-size, 1);

  position: relative;
  left: -5px;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: ($base-line-height * 2);
  font-family: $font-heading;
  color: $white;
  box-shadow: inset 0 -6px 0 $blue;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    box-shadow: inset 0 -6px 0 rgba($blue, 0.6);
  }
}
