/*------------------------------------*\
    #COMPONENT.HERO
\*------------------------------------*/
/**
 * Primary callout feature section.
 */
.hero {
  position: relative;
  display: flex;
  overflow: hidden;

  &:before {
    display: block;
    padding-bottom: 133.3333%;
    content: "";
  }

  @include media-query(medium) {

    &:before {
      padding-bottom: 36.2319%;
    }
  }

  > * {
    position: absolute;
  }
}




.hero-image,
.hero-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.hero-image {
  background-image: url("../images/hero-space.jpg");
  background-position: 50%;
  background-size: cover;
}




.hero-overlay {
  background-color: $black;
  opacity: 0.8;
}




.hero-content {
  position: relative;
  width: 100%;
  padding: 0 $layout-gutter 0; // account for fixed header height
  margin: auto;
  color: $white;
  text-align: center;

  h1 {
    @include typ-font-size($h2-size, 1);
  }
}




.hero--spacer {
  margin-top: 90px;

  &:before {
    content: none;
  }
}




.hero--resume {

  &:before {
    padding-bottom: 33.3333%;
  }
}
