/*------------------------------------*\
    #PROJECT
\*------------------------------------*/
/**
 * Project "card" blocks.
 *
 * A proportional-height block with full-bleed background image, color overlay,
 * title and text content, with a fancy hover effect.
 */
.project {
  position: relative;
  display: block;
  overflow: hidden;
  color: $white;

  // maintain 3:4 aspect ratio
  &:before {
    display: block;
    padding-bottom: 133.3333%;
    content: "";
  }

  &:hover,
  &:focus {

  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.project-image {
  background-repeat: no-repeat;
  background-size: cover;
}


.project-overlay {
  background-color: $black;
  opacity: 0.5;
}


.project-content {

  > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $layout-gutter;
  }
}
