/*------------------------------------*\
    #COMPONENT.CONTACT-LIST
\*------------------------------------*/
/**
 * List of different contact links in footer.
 */
.contact-list {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;

  > li {
    display: inline-block;
    font-size: $base-font-size;
  }

  a {
    display: inline-block;
    padding: $layout-gutter / 2;
    color: $grey-dark;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  .icon {
    width: 32px;
    height: 32px;
    transition: all 0.15s $timing;
    fill: currentColor;
  }
}
