/*------------------------------------*\
    #COMPONENT.LOGO
\*------------------------------------*/
/**
 * Logo image in `.site-menu`.
 */
.logo {
  display: inline-block;
  width: 55px;
  height: 5px;
  overflow: hidden;
  background-color: $white;
}
