/*------------------------------------*\
    #LAYOUT.PROJECT
\*------------------------------------*/
/**
 * Section for different project details.
 */
.project-body {
  padding: $base-line-height 0 0;

  .section-title {
    padding: 0 $layout-gutter;

    @include typ-font-size($kilo-size, 1);
  }
}




.project-icon {
  padding: 45px;
  text-align: center;

  > img {
    width: 90px;
    height: 90px;
  }
}




.project-intro,
.project-notes {
  padding: ($base-line-height * 2) $layout-gutter;

  > :last-child {
    margin-bottom: 0;
  }
}




.project-showcase {
  padding: ($base-line-height * 2) $layout-gutter;
  background-color: rgba($black, 0.2);
}
