/*------------------------------------*\
    #LAYOUT.MENU
\*------------------------------------*/
/**
 * Main site menu in different contexts.
 */
.site-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: ($base-line-height / 4) $layout-gutter;

  @include media-query(landscape) {
    position: fixed;
    width: 50%;
  }

  a {
    box-shadow: none;
  }

  .layout-container {
    font-size: 0;
  }
}




.site-home,
.site-nav {
  display: inline-block;
  font-size: $base-font-size;
  line-height: 90px;

  @include media-query(medium) {
    width: 50%;
  }
}

.site-home {
  width: 25%;
}

.site-nav {
  width: 75%;
  text-align: right;
  text-transform: uppercase;

  a {
    line-height: $base-line-height;
    color: $white;
    border-radius: $base-radius;
    opacity: 0.5;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($white, 0.1);
      opacity: 1;
    }
  }
}




.site-menu--on-white {

  .site-nav {

    a {
      color: $color-link;
      opacity: 1;

      &:hover,
      &:focus,
      &:active {
        background-color: rgba($black, 0.1);
      }
    }
  }
}
