/*------------------------------------*\
    #LAYOUT.RESUME
\*------------------------------------*/
/**
 * CV Section.
 */
.resume-title {
  @include typ-font-size($kilo-size, 1);
}


.resume-subtitle {
  @include typ-font-size($h4-size, 1);

  margin-bottom: ($base-line-height / 2);
  text-transform: none;
}




.resume {
  color: $grey-black;
  background-color: $white;

  @include media-query(medium) {
    padding: ($base-line-height * 2) ($layout-gutter * 2);
  }

  @include media-query(landscape) {
    width: 50%;
    padding: 100px 0 0;
    margin-left: 50%;
  }
}




.resume-info {
  padding: 0 $layout-gutter ($base-line-height * 2);

  @include media-query(landscape) {
    padding: 0 0 ($layout-gutter * 2);
  }
}

.resume-info-content {
  position: relative;
  padding: ($base-line-height * 2) ($layout-gutter * 2);
  margin-top: -($base-line-height * 4);
  color: $white;
  background-color: $blue;

  @include media-query(landscape) {
    margin-top: 0;
    margin-left: -$layout-gutter;
  }

  > :last-child {
    margin-bottom: 0;
  }

  a {
    color: $grey-black;
    box-shadow: inset 0 -1px 0 rgba(mix($grey-black, $black, 50%), 0.1);

    &:hover,
    &:focus,
    &:active {
      color: mix($grey-black, $white, 90%);
      box-shadow: inset 0 -1px 0 rgba(mix($grey-black, $white, 90%), 1);
    }
  }
}


.resume-experience,
.resume-skills {
  padding: ($base-line-height * 2) $layout-gutter;

  @include media-query(landscape) {
    padding: ($layout-gutter * 2);
  }

  p {
    margin-bottom: ($base-line-height * 2);
  }
}
