/*------------------------------------*\
    #LAYOUT.FOOTER
\*------------------------------------*/
/**
 * Main site footer.
 */
.site-footer {
  padding: ($base-line-height * 2) $layout-gutter;
  background-color: $black;

  @include media-query(landscape) {
    width: 50%;
    margin-left: 50%;
  }
}




.footer-title {
  // color: $grey-light;
}
