/*------------------------------------*\
    #LAYOUT.RESUME
\*------------------------------------*/
/**
 * CV Section.
 */
.resume-title {
  @include typ-font-size($kilo-size, 1);
}


.resume-subtitle {
  margin-bottom: ($base-line-height / 2);
  text-transform: none;

  @include typ-font-size($h4-size, 1);
}




.resume {
  padding: ($base-line-height * 2) $layout-gutter;
  color: $grey-black;
  background-color: $white;

  @include media-query(medium) {
    padding: ($base-line-height * 2) ($layout-gutter * 2);
  }
}




.resume-info {
  padding: 0 $layout-gutter ($base-line-height * 2);
}

.resume-info-content {
  position: relative;
  padding: ($base-line-height * 2) ($layout-gutter * 2);
  margin-top: -($base-line-height * 4);
  color: $white;
  background-color: $blue;

  > :last-child {
    margin-bottom: 0;
  }

  a {
    color: $grey-black;

    &:hover,
    &:focus,
    &:active {

    }
  }
}


.resume-experience,
.resume-skills {

  p {
    margin-bottom: ($base-line-height * 2);
  }
}
