/*------------------------------------*\
    #LAYOUT.PROJECT
\*------------------------------------*/
/**
 * Section for different project details.
 */
.project-body {
  padding: $base-line-height 0 0;

  .section-title {
    padding: 0 $layout-gutter;

    @include typ-font-size($kilo-size, 1);

    @include media-query(large) {
      padding: ($base-line-height * 2) 0;
    }
  }
}




.project-icon {
  padding: 45px;
  text-align: center;
  background-image: linear-gradient(to bottom, $backdrop-light 0%, $backdrop-dark 66%, $backdrop-light 100%);

  img {
    width: 90px;
    height: 90px;
  }
}




.project-intro,
.project-notes {
  padding: ($base-line-height * 2) $layout-gutter;

  p {
    max-width: 640px;
  }
}




.project-showcase {
  padding: ($base-line-height * 2) $layout-gutter;
  background-image: linear-gradient(to bottom, $backdrop-light 0%, $backdrop-dark 66%, $backdrop-light 100%);
}




.project-notes {

  p {

    &:last-child {
      padding-top: $base-line-height;
    }
  }
}
