/*------------------------------------*\
    #LAYOUT.WORK
\*------------------------------------*/
/**
 * Section listing different projects.
 */
.work {
  padding: $base-line-height $layout-gutter;
  background-color: $white;

  @include media-query(medium) {
    padding: ($base-line-height * 2) ($layout-gutter * 2);
  }
}
