/*------------------------------------*\
    #LAYOUT.MENU
\*------------------------------------*/
/**
 * Main site menu in different contexts.
 */
.site-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  // background-color: $black;

  .layout-container {
    padding: ($base-line-height / 4) $layout-gutter;
    font-size: 0;

    @include media-query(large) {
      padding: ($base-line-height / 4) 0;
    }
  }
}




.site-home,
.site-nav {
  display: inline-block;
  width: 50%;
  font-size: $base-font-size;
}

.site-nav {
  text-align: right;
  text-transform: uppercase;
}
