{% include header.html %}

{% include hero.html %}

<article class="project-body">

  <section class="project-intro">
    <div class="layout-container">

      <div class="layout layout--flush">
        <div class="layout-item layout-item--1-3"></div>

        <div class="layout-item layout-item--2-3">
          <div class="project-icon">
            {% if page.icon %}
            <img src="/assets/images/{{ page.icon }}@2x.png" alt="Site icon">
            {% endif %}

            {{ content }}

          </div>
        </div>
      </div>

    </div>
  </section>

  {% if page.showcase %}
  <section class="project-showcase">
    <div class="layout-container">

      <div class="layout layout--flush">
        <div class="layout-item layout-item--1-3">
          <h2>Showcase&#8212;</h2>
        </div>

        <div class="layout-item layout-item--2-3">
          <img src="/assets/images/{{ page.showcase }}.png" srcset="/assets/images/{{ page.showcase }}@2x.png 1131w" alt="{{ page.title }} responsive showcase">
        </div>
      </div>

    </div>
  </section>
  {% endif %}

  <section class="project-notes">
    <div class="layout-container">

      <div class="layout layout--flush">
        <div class="layout-item layout-item--1-3">
          <h2>Contribution&#8212;</h2>
        </div>

        <div class="layout-item layout-item--2-3">
          <ul>
          {% for contribution in page.contributions %}
            <li>{{ contribution }}</li>
          {% endfor %}
          </ul>
          <p><a href="{{ page.link }}">Visit {{ page.title }}</a></p>
        </div>
      </div>

    </div>
  </section>

  <section class="project-images">
  </section>

</article>

{% assign i = site.projects | size %}
{% for p in site.projects reversed %}

  {% if p.url == page.url %}

    {% assign pageid = i %}
    {% break %}

  {% endif %}

  {% capture i %}{{ i | minus: 1 }}{% endcapture %}

{% endfor %}

{% assign size = site.projects | size %}
{% if pageid == size %}

  {% assign pageid = 0 %}

{% endif %}

<nav class="project-nav">
{% for next in site.projects offset:pageid limit:1 %}
  <div class="project-nav-image" style="background-image:url(/assets/images/{{ next.cover }})"></div>

  <div class="project-nav-overlay"></div>

  <div class="project-nav-content">
    <div class="layout-container">

      <div class="layout layout--flush">
        <div class="layout-item layout-item--1-3">
          <h6 class="project-nav-title">Next project&#8212;</h6>
        </div>

        <div class="layout-item layout-item--2-3">
          <a class="project-next js-parent-hover" href="{{ next.url }}">{{ next.title }}</a>

          <p><a href="/work/">See all work</a></p>
        </div>
      </div>

    </div>
  </div>
{% endfor %}
</nav>

{% include footer.html %}
